.ResultsSection {
  &__topbar {
    
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: blue;
    font-size: large;

    &__item {
      font-weight: bold;
      width: fit-content;
    
    }
    
  }


  &__result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    padding-bottom: 1.5rem;

    &__topbar {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    &--gray {
      background: #575757;
    }

    &--light-gray {
      background: #3b3b3b;
    }

    &__content {
      padding-left: 4rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__results {
    max-height: 25rem;
    overflow-y: auto;
    font-size: large;
    
  }

  &__crn {
    width: 5rem;
  }

  &__add {
    width: 4rem;
  }

  &__subject {
    width: 7rem;
    
  }

  &__section {
    width: 6rem;
    text-align: center;
  }

  &__title {
    width: 12rem;
    text-align: center;
  }

  &__credit {
    width: 5rem;
    text-align: center;
  }


  &__type {
    width: 8rem;
    text-align: center;
  }

  &__instructor {
    width: 9rem;
    text-align: center;
  }
}
